.mainDiv{
    position: relative;
}
.total{
    height: 10vh;
    width: 20wh;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 30px;
    font-weight: 600;
    background-color: antiquewhite;
}   

@media screen and (max-width:420px){
    .total{
        bottom: 1px;
    }
}