
.item-container{
  margin: auto;

}
.item-div{
    height: 100%;
    width: 100%;
    max-height: 413px;
    max-width: 314px;
    background-color: #F8F9FA;
    margin: auto;
}
.imagesize{
  padding: 5rem 1.875rem;
  height: 410px;
  width: 315px;
}
.imagesize:hover{
  transform: scale(1.1,1.1);
  transition: all 0.5s;
  transition-delay: 0.2s;
}
.item-name{
    margin: 0.5rem 0 2.5rem 0;
    color: #3c4043;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.info{
  display: flex;
  justify-content: space-between;
}
.button{
  margin: 5px 0;
  padding: 5px 5px;
  font-size: 13px;
  display: block;
}


@media screen and (max-width:420px) {
  .item-div{
    width: 250px;
  }
  .imagesize{
    width: 240px;
    padding: 4rem 2rem;
    
  }
  .item-container{
  }
  
}

