.product-wrapper{
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    padding: 0 20px;
    /* border: 1px solid; */
}
.product-filter{
    width: 25%;
    text-align: left;
    padding-left: 20px;

}
.product-item{
    width: 75%;
    /* border: 1px solid; */

}
@media screen and (min-width:315px) and (max-width:420px){
   .product-wrapper{
    display: block;
   }
   .product-filter{
    width: 100%;
   }
   .product-item{
    width: 100%;
   }
   
    
}